*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
:root{
--gray-800: #1E293B;
--grey-600: #475569;
}


header{
    background-image: url(./imagens/img.png);
    background-size: cover;
   height: 8.375rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 3.7rem;
}
main{
 padding-inline: 1.5rem;
}

.descricao{
    color: var(--gray-800);
    margin-bottom: 1rem;
font-size: 1.5625rem;
}
